nav{
    color: purple;

    
}
a {
    text-decoration: none; 
    color:purple; 
}
a:hover{
    color:rgb(118, 19, 118);
}
#backbtn{

    color: white;
}
.highscore{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
}

section{
    padding: 100px;
}
.response{

    padding: 10px;
    border-top: gray 2px solid;
    color: gray ;
    visibility: hidden;
}
.button{
    color: white;
    background-color: purple;
    border-radius: 4px;
    padding: 5px;
    font-size: medium;
    cursor: pointer;
}
.button:hover{
   
    background-color:rgb(172, 85, 172);
}

.empezar{
    cursor: pointer;
    background-color:rgb(172, 85, 172);
}
#choiceBtn{
    display: block;
    padding: 2px;
}
.questionsAsk{
    text-align: center;
}
.card{
    text-align: center;
}
.userInfoRow{
    background-color:rgb(212, 166, 235) ;
    color: black;
    
}
tr{
    width: max-content;
}

#initalPrompt{
    position: absolute;
    top: 25%;
    left: 35%;
}